/* Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variavel CSS */
:root{
  --primary-color: #ff6b35;
  --dark: #1a1a1a;
  --green: green;
  --gray: #f5f5f5;
  --radius: 16px;
  --shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--gray);
    color: var(--dark);
    line-height: 1.6;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

.btn{
    background-color: var(--primary-color);
    display: inline-block;
    padding: 12px 24px;
    color: #fff;
    font-weight: 600px;
    border-radius: var(--radius);
    transition: 0.4s;
    cursor: pointer;
}

.btn:hover{
    filter: brightness(0.9);
    background-color: #e85a2b;
    box-shadow: var(--shadow);
    transform: translateY(-3px);
}

.btn-outline{
    background-color: transparent;
    border: 2px solid var(--green);
    color: var(--green);
}

.btn-outline:hover{
    background-color: var(--green);
    color: #fff;
    box-shadow: var(--shadow);
    transform: translateY(-3px);
}
 
.btn-light{
    background-color: #fff;
    color: var(--primary-color);
}

.btn-light:hover{
    background-color: #f0f0f0;
    box-shadow: var(--shadow);
    transform: translateY(-3px);
}

.logo{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--primary-color);
    border-bottom: .5px solid var(--primary-color);
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    background: #fff;
    box-shadow: var(--shadow);
    z-index: 99;  
    transition: 0.4s;
}

.slidebar{
    display:none;
    flex-direction: column;
    position: fixed;
    justify-content: flex-start;
    align-content: center;
    align-items: flex-start;
    padding: 35px 50px;
    background-color: #ffffffbd;
    box-shadow: rgba(0, 0, 0, 0.1) 5px 20px 50px 42px;
    gap: 40px;
    top:0;
    right:0;
    left: 51%;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(5px);
}

.slidebar nav{
    display: flex;
    flex-direction: column;
    gap: 20px;

      cursor: pointer;
}

.slidebar nav a:hover{
    color: var(--primary-color);
    transform: translateY(-3px);
    border-bottom: 2px solid var(--primary-color);
}

.btn-menu{
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--dark);
}

header nav{
    display: flex;
    gap: 40px;
    color:var(--dark);
}

header nav a{
    font-weight: 350;
    transition: 0.4s;
      cursor: pointer;
}


header nav a:hover{
    color: var(--primary-color);
    transform: translateY(-3px);
    border-bottom: 2px solid var(--primary-color);
}

header.scrolled{
    background-color: #fff;
    box-shadow: var(--shadow);
    padding: 10px 40px;
    transition: 0.4s;
}

.hero-wrapper{
    background: linear-gradient(135deg, #fff9f5, white );
   
}

.howDesktop{

       cursor: pointer;
}

.hero{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 60px 20px;
}

.hero h1{
    font-size:48px;
    line-height: 1.1;
    margin-bottom: 20px;
}

.hero  p{
    font-size: 18px;
    color: #555;
    margin-bottom: 30px;
    margin: 5px;
}

.mth{
    display: flex;
    justify-content: center;
    margin-top: 63px;
}

.imga{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border-radius: 32% 68% 66% 34% / 62% 54% 46% 38%;
    height: 450px;
    width: 430px;
    box-shadow: 0px 0px 0px 20px rgba(0,0,0,0.1);
}

.imga img
{
    animation: burguerMove 3s ease-in-out infinite;
}

@keyframes burguerMove {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }



}

.hero img{
    border-radius: var(--radius);
}

.hero-buttons{
    display: flex;
    gap: 20px;
    margin: 5px;
}

.hero-stats{
    display: flex;
    gap: 40px;
    text-align: center;
    margin-top: 40px;
}


.hero-stats li{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: var(--radius);
   
}




.hero-stats li span{
    font-size: 14px;
    color: #555;
}

.hero-stats strong{
    font-size: 27px;
    color: var(--primary-color);
}

#cardapio{
    padding: 80px 5%;
    text-align: center;
}
#cardapio h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.cardapio p{
    color: #555;
    margin-bottom: 20px;
    font-size: 14px;
}

.menu-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
    margin-top: 40px;
    height: 1100px;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: -40px;
}

.menu-grid li  img{
    border-radius: 20px 20px 0px 0px;
    margin-bottom: 15px;
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.menu-grid li{
    position: relative;
    background-color: #fff;
    border-radius: var(--radius);
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: 0.4s;
    text-align: left;
}

.badge{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: var(--primary-color);
    color: #fff;
    padding: 5px 9px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500px;
    cursor: pointer;
}

.menu-grid h3{
    font-size: 20px;
    padding: 10px;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--primary-color);
    color: #fff;
    width: 250px;
    margin-bottom: 40px;
}

.menu-grid p{
    font-size: 14px;
    margin-top: -10px;
    color: #555;
    padding: 0px 20px 20px;
}

.menu-grid strong{
    display: block;
    text-align: center;
    color: var(--green);
    font-size: 30px;
    padding: 10px 20px 20px;
}

.menu-grid .btn{
    display: block;
    margin: 0px 20px 20px;
    text-align: center;
    padding: 10px 20px;
}

.sobre {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #fff;
    align-items: center;
    gap: 60px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 80px 20px;
}

.sobre img{
    border-radius: var(--radius);
}

.sobre article h2{
    font-size: 36px;
    margin-bottom: 20px;
}

.sobre article p{
    color: #555;
    margin-bottom: 20px;
}

.sobre article ul{
    list-style-type: none;
}

.sobre article li{
    margin-bottom: 10px;
}

.sobreh{
    text-align: center;
    margin-top: -30px;
    color: var(--primary-color);
    font-size: 45px;
}

#cta{
    padding: 80px 5%;
    text-align: center;
    background: linear-gradient(135deg, var(--primary-color), #ca7d64);
    color: var(--dark);
}

#cta a{
    margin: 10px;
}

#cta h2{
    font-size: 36px;
    color: #fff;
    margin-bottom: 10px;

}

#cta p{
    color: #f0f0f0;
    margin-bottom: 20px;
    font-size: 18px;
}

#localizacao{
    padding: 80px 5%;
    text-align: center;
}

#localizacao h2{
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
}

.mapa{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    border: 2px solid var(--primary-color);
    border-radius: var(--radius);
    width: 100%;
}

footer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 40px 5%;
    background-color: var(--dark);
    color: #fff;
}

.lo{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.6); /* fundo meio preto */
}

.Loading{
    display: block;
    width: 160px;
    height: 160px;
    background-color:transparent;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 1000;
    animation: loadingAnimation 1s linear infinite;
    border: 20px solid var(--primary-color);
    border-style: double;
    border-top: 20px solid transparent;
}

@keyframes loadingAnimation {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

